{% extends 'index.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}

<div class="hero-img">
  <div class="hero-text">
    <h1>About Team Meerkatw2</h1>
    <p>Our mission is to help you get easy accessibility to aesthetically pleasing credit card designs with friendly user experiences </p>
  </div>
</div>
<div class="detail">
    <div class="detail-text">
        <p>Who we are?</p>
        <P>Team Meerkat was founded by ZURI in the year 2022. We are a vision forward group of designers and developers defined by the quality of our ideas. We use these ideas to transform individusals and organisations.
Because of our work, the tech industy, will re-emerge and quality will be here to stay.
Such is the power of ideas.</p>

    </div>
    <img alt="" src="{% static 'images/image1.svg' %}">
  </div>
  <div class="our-team-wrapper">
    <h1>Our Team</h1>
  <div class="our-team">
    <div class="our-team-detail">
        <p class="name">Obinna Nnodim</p>
        <p><b>Team Lead, Developer</b></p>
        <p>A phenomenal leader who has gotten the individuals of team Meerkatw2 to work together towards the common goal. Leading a path in fullstack/python whilst pursuing his degree.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Olatomiwa Olarinde</p>
        <p><b>Product Designer</b></p>
        <p>A creative product designer who brings innovative and aesthetically pleasing elements to stale platforms. Improves visual appeal without sacrificing practical functionality.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Adedoyin Ekele</p>
        <p><b>Product Designer</b></p>
        <p>She is an organizing and space management enthusiast whose expertise spans across several industries. She holds a B.ed Degree in Guidance and Counselling. </p>
    </div>
    <div class="our-team-detail">
        <p class="name">Ebun Ayinla</p>
        <p><b>Product Designer</b></p>
        <p>Mrs Ebun is a graduate of Microbiology who recently transitioned to UI/UX design with vast experience in building equitable, accessible and user-centered designs.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Barakat Akinyemi</p>
        <p><b>Product Designer</b></p>
        <p>Miss Barakat Akinyemi, is a Digital Creator who creates content around fashion and lifestyle. She recently transitioned into product design whilst pursuing her university degree.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Robert Emmanuel</p>
        <p><b>Product Designer</b></p>
        <p>Robert Emmanuel is a IT Support professional and an upcoming Product Designer with Team Meerkatw2, a project platform that helps to foster teamwork between various individuals from different paths who have been trained by Zuri.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Marvellous Osigwe</p>
        <p><b>Front-End Developer</b></p>
        <p>Osigwe Marvellous is a seasoned accountant with several years of practice. His love for growth has led him to take a peep into the tech world. He is an upcoming fullstack/python enthusiast and his can-do spirit is second to none.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Anas Adelopo</p>
        <p><b>Product Designer</b></p>
        <p>He is a dedicated member of team Meerkatw2 and has helped to bring synergy into the group through his ideas and dedication. He is a Student Doctor of Veterinary medicine (DVM) and enjoys what he does.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Odulaja Oluwatelemi</p>
        <p><b>Product Designer</b></p>
        <p>She holds a Bachelors degree in Estate Management.She is a member of team Meerkatw2 and has proven herself through her commitment to the group and the many ideas she shares with others. </p>
    </div>
    <div class="our-team-detail">
        <p class="name">Clement Nwagbala</p>
        <p><b>Product Designer</b></p>
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    </div>
    <div class="our-team-detail">
        <p class="name">Oluwatobi Abolaji</p>
        <p><b>Product Designer</b></p>
        <p>Mr Oluwatobi is a serial entrepreneur with experience in the Digital sphere. He has a vast skill set. Some of which are graphics design, social media marketing, physical and digital product marketing with good communications and presentation knowledge.He's a talented Product Designer who worked actively with the design team of Zuri Team Meerkat and is a business enthusiast who is currently studying in the University for a degree in Estate management.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Fatima Jubril</p>
        <p><b>Fatima Jubril</b></p>
        <p>Fatima Jubril is a knowledgeable product designer and her prowess has come to play in team Meerkatw2. A great team player who with her skills brought tremendous productivity to the group. She is a graduate of Economics and will do wonders in the world.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Omolola Omotosho</p>
        <p><b>Product Designer</b></p>
        <p>She is a seasoned content writer, content creator and UI/UX designer. She has contributed to making brands and businesses more successful with her creativity and innovative ideas. She is currently pursuing her Bachelor's degree in English.</p>
    </div>
    <div class="our-team-detail">
        <p class="name">Ezinne Esther Madukairo</p>
        <p><b>Front-End Developer</b></p>
        <p>She is a graduate of Statistics and this has influenced her decision to choose a path in fullstack which has helped to enhance the teams output. Her doggedness and goal getter spirit is one worthy of emulation.</p>
    </div>
  </div>
</div>


{% include 'footer.html' %}
{% endblock content %}