{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% include 'nav.html' %}
  <main class="main-content">
    <section class="hero">
      <div class="profile-text width">
        <h1>Make Your Card as Unique as You</h1>
        <p>create,customize and generate credit cards that suits your personality and makes designing more fun at a
          discounted rate.</p>
        <a class="button" href="">Get Started</a>
        <a class="linkss linkss2" href="#c_card">Explore Card Design</a>
      </div>
      <div class="hero-image width">
        <img src="{% static 'images/c-removebg 1.png' %}" alt="">
      </div>
      <div class="ccl-container">
        <div class="ccl">
          <div class="s-clients">
            <p class="b-p">500K+</p>
            <p class="s-p">Satisfied Client</p>
          </div>
          <div class="c-cards">
            <p class="b-p">250K+</p>
            <p class="s-p">Customized Cards</p>
          </div>
          <div class="l-cost">
            <p class="b-p">40%</p>
            <p class="s-p">Lower cost</p>
          </div>
        </div>
      </div>
    </section>

    <!-- About us sections -->
    <section class="aboutus" id="about-us">
      <h2 class="header">About Us</h2>
      <div class="aboutus-flex">
        <div class="aboutus-item">
          <img src="{% static 'images/card.png' %}" alt="project1">
        </div>
        <div class="aboutus-text">
          CC_gen 2022, is a library of different credit card designs that gives access to credit card customization to
          authenticated and unauthenticated users, with the basic features of interacting, saving and downloading
          designs as well
          as and sharing credit card designs to different social media platforms.
          <div>
            <a class="button" href="{% url 'about' %}">Learn More</a>
          </div>
        </div>

      </div>
      <div class="partners">
        <h2 class="header">Our Trusted Partners</h2>
        <div class="mastercard">
          <img src="{% static 'images/Rectangle 8.svg' %}" alt="">
        </div>
        <div class="gooogle" sty>
          <img src="{% static 'images/Rectangle 9.svg' %}" alt="">
        </div>
        <div class="paypal">
          <img src="{% static 'images/Rectangle 11.svg' %}" alt="">
        </div>
        <div class="visa">
          <img src="{% static 'images/visa-logo-2 1.svg' %}" alt="">
        </div>
        <div class="discover">
          <img src="{% static 'images/Frame 6042.svg' %}" alt="">
        </div>
      </div>
    </section>
    <section  id="c_card" class="card-designs">
      <h2>Card designs</h2>
      <P>Explore various credit card designs</P>
      <div class="cards">
        {% for i in design %}
        <a href="{% url 'card_detail' i.id %}"><img class="c_card" style="margin: 50px" src="{{ i.design_pic.url}}"></a>
        {% endfor %}
        <div style="z-index:1; width: 100%">
          <a href="{% url 'card-design' %}" class="button">Explore more designs</a>
        </div>
      </div>
    </section>
    <section class="review">
      <h2 class="header">Clients Review</h2>
      <div class="box">
        <div><img class="avatar" src="{% static 'images/default.png' %}" alt=""></div>
        <p>Great design features, user friendly, affordable rate of payment for services and unlimited ways to customize
          credit
          cards.</p>
        <p><b>Kwame, Ghana</b></p>

      </div>
      <div class="box">
        <div><img class="avatar" src="{% static 'images/default.png' %}" alt=""></div>
        <p>An awesome platform to design, learn and collaborate with amazing easy to use features</p>
        <p><b>chris, Nigeria</b></p>

      </div>
      <div class="box">
        <div><img class="avatar" src="{% static 'images/img_avatar2.png' %}" alt=""></div>
        <p>As a beginner in design , it gives me the platform to create friendly user interfaces of credit cards designs
          with
          ease..</p>
        <p><b>Aisha, Abuja</b></p>
      </div>
      <div class="newsletter-container">
      <div class="newsletter">
        <h2 class="newsletter-header">Our Newsletter</h2>
        <p class="newsletter-text">Subscribe to our newsletter to get more information about our products and amazing
          offers.</p>
        <form .subscribe method="POST">
          {% csrf_token %}
          <input type="email" name="email" id="email" class="email"placeholder="Email">
          <input class="subscribe-btn" type="submit" value="Subcribe">
        </form>
      </div>
    </div>
    </section>
  </main>
  {% include 'footer.html' %}
  
  </div>

{% endblock content %}