{% extends 'index.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% block content %}
<div class="container login-page" >
{% include 'nav.html' %}
<div class="content-container">
    <div>
        <img src={% static 'images/c-removebg 1.png' %} alt="">
    </div>
    <div class="content">
        <h1 class="header-text">WELCOME BACK, SIGN IN</h1>
        <form class="form" method= "POST" action="">
            {% csrf_token %}
            <div class="input">
                <label for="email"><img src="{% static 'images\lock.svg' %}" alt="">USERNAME</label>
                <input type="text" name="username" id="username" placeholder="username">
            </div>
            <div class="input">
                <label for="password"><img src="{% static 'images\lock.svg' %}" alt="">PASSWORD</label>
                <div style="position: relative;">
                <input style="width: 100%;" type="password" name="password" id="password" placeholder="Password">
                <img src="{% static 'images/eye.svg' %}" class="eye-icon" alt="">
                </div>
            </div>
            {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}><img style="width: 20px; height:20px; margin: 0 5px" src="{% static  'images\icons8-error-50.png' %}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
            <div class="checkbox">
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <label for="checkbox">keep me signed in</label>
                </div>
                <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
            </div>
            <input type="submit" class="btn" value="Log in">
            <div class="horizontal-line">
                <span class="line"></span><span class="or">or</span><span class="line"></span>
            </div>
            <p>Sign up using:</p>
            <div class="links">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="google"><img src="{% static 'images\logos_google-icon.svg' %}" alt="">Google</a>
                <a class="apple" href=""><img src="{% static 'images\apple-logo.svg' %}" alt=""> Apple</a>
            </div>
            <div class="create-account">
                <span>New User?</span><a href="{% url 'register' %}">Create an account</a>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}
