{% extends 'index.html' %}
{% load static %}
{% comment %} {% block styles %}
<link rel="stylesheet" href="{% static 'reset-password.css' %}">
{% endblock styles %}  {% endcomment %}
{% block content %}
{% include 'nav.html' %}
<div  class="edit-profile-container">
        <div class="edit-profile" style=" margin: auto; height: 70vh;">
            <h2>Reset Password</h2>
            <p>We will email you instructions to reset the password</p> 
            <form class="update-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form  %}
                <div class="input-field">
                    <label>{{field.label}}:</label>
                    {{field}}
                </div>
                {% endfor %}
                <input type="submit" value="Reset Password">
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}
