{% load static %}
<footer class="footer">
    <div class="footer-links">
      <h2 class="header">CC_gen</h2>
      <div style="width: 100%; display: flex; justify-content: space-around;">
        <div class="about-links hg">
          <P class="p-tag">About</P>
          <ul>
            <li><a href="">Join our team</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Partners</a></li>
          </ul>
        </div>
        <div class="legal hg">
          <p class="p-tag">Legal</p>
          <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Copy Right</a></li>
          </ul>
        </div>
        <div class="support hg">
          <p class="p-tag">Support</p>
          <ul>
            <li><a href="">Contact us</a></li>
            <li><a href="">Publisher</a></li>
            <li><a href="">Help/FAQs</a></li>
            <li><a href="">Accessibility</a></li>
          </ul>
        </div>
        <div class="social-links hg">
          <p class="p-tag">Quicklinks</p>
          <ul>
            <li><a href=""><img src="{% static 'images/social icons/Group.svg' %}" alt="">Facebook</a></li>
            <li><a href=""><img src="{% static 'images/social icons/akar-icons_instagram-fill.svg' %}" alt="">Instagram</a></li>
            <li><a href=""><img src="{% static 'images/social icons/akar-icons_twitter-fill.svg' %}" alt="">Twitter</a></li>
            <li><a href=""><img src="{% static 'images/social icons/jam_behance-circle.svg' %}" alt="">Behance</a></li>
          </ul>
        </div>

      </div>
      <p class="p-tag lg">Copyright © 2022-2023 CC_Gen Ltd (Nigeria). All Rights Reserved</p>
    </div>
  </footer>